* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.purple {
  color: #592C82;
}

.gray {
  color: #575757;
}

.half {
  width: 50%;
}

.row {
  margin: 0;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a:hover {
  text-decoration: none;
}

.header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(#30006b8a), to(#ffffff00));
  background: linear-gradient(180deg, #30006b8a 0%, #ffffff00 100%);
}

.header-image img {
  height: 100%;
}

.header .menu a {
  color: white;
  font-weight: 500;
  padding-right: 50px;
}

.header .menu a:last-child {
  padding-right: 0;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  padding: 0 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #592C82;
}

.banner img {
  height: 60%;
  margin: auto;
}

.banner h2 {
  font-style: italic;
  font-size: 40px;
  font-weight: 200;
}

.about {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.about-left {
  margin: auto;
  width: 40%;
}

.about-left h2, .about-left p {
  width: 100%;
}

.about-right img {
  width: 100%;
}

.adv {
  position: relative;
  width: 100%;
}

.adv-left img {
  width: 100%;
}

.adv-right {
  margin: auto;
  width: 40%;
}

.adv-right_content {
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adv-right_content .image {
  width: 20%;
}

.adv-right_content .text-content {
  width: 80%;
  padding-left: 20px;
}

.adv-right_content .text-content h5 {
  font-weight: bolder;
}

.product {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 140px;
}

.product-box {
  width: ();
  background: #000;
}

.product-box_content img {
  width: 100%;
}

.footer {
  background-color: #592C82;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 140px;
}

.footer-image img {
  width: 200px;
}

.footer a, .footer p {
  line-height: 2.5;
  color: white;
  margin: 0;
  font-size: 14px;
  font-weight: 200;
}

.footer h4 {
  padding-bottom: 10px;
}

.footer-bottom {
  background-color: #361B50;
  height: 60px;
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */